body {
  background-color: #000000 !important;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  
}


.carousel-center { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding-top: 30px; 
  padding-bottom: 30px; 
  box-sizing: border-box; 
  background-color: #000000; 
  flex-wrap: wrap; 
}

.carousel {
  margin-top: 3rem;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.genre-heading {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
  color: #a38014;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.imgs {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel {
    width: 95%;
    margin-top: 2rem;
  }

  .carousel-item img {
    height: 250px;
  }

  .genre-heading {
    font-size: 1.3rem;
  }

  .imgs {
    margin: 0 auto;
    padding: 0 1rem;
  }
}

/* Dark mode styles */
.dark {
  background-color: #fde3b8;
  color: #7a0707;
}

.dark .genre-heading {
  color: #7a0707;
}
.arrow1
{
   color: gold;
   font-size: 24px;
     cursor: pointer;
    margin-right: 15px;
}
.signout
{
  color: gold;
  font-size: 24px;
  cursor: pointer; 
}
.dark .movie_title,
.dark .movie_genre,
.dark .movie_desc ,
.dark .arrow,
.dark .signout,
.dark .subheading,
.dark .arrow1{
  color: #7a0707;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toggle-btn {
  background-color: #000000;
  border: none;
  color: gold;
  padding: 5px 15px;
  font-size: 30px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.toggle-btn:hover {
  color: #c89c16;
  animation: rotate360 0.6s linear; /* 👈 Spin effect */
}
.navb
{
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px; 
  gap: 16px;
  flex-wrap: wrap;
}
.navb h1,
.navb h2,
.navb .search-btn,
.navb .logout-icon {
  flex: 1 1 auto;
  min-width: fit-content;
  margin: 6px;
}
.to-search
{
  width: 200px;
}
.search-btn
{
  width: 34px;
  height: 34px;

}
.dark .navb .search-btn,
.dark .to-search
{
  
  background-color: #7a0707;
}
.dark .to-search::placeholder,
.dark .search-icon
{
  color: white;
}
.dark .toggle-btn {
  background-color: #fde3b8;
  color: #7a0707;
}